	#iPod{
		overflow:hidden;
		font-family:'Myriad Pro';
		font-weight:600;
		height:240px;
		width:320px;
		position:relative;
	}
	#iPod, #iPod *::selection{
		background:transparent;
	}
	#iPod > div{
		position:absolute;
		
		width:50%;
		height:inherit;
		display:inline-block;
		overflow:hidden;
	}
	#iPod > div:first-child{
		background:#fff;
	}
	#iPod > div:first-child > .info{
		position:relative;
		border-bottom:0.12em solid #5b5b5a;
		line-height:170%;
		background:-webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgb(255,255,255)),
		    color-stop(0.5, rgb(215,220,223)),
		    color-stop(0.51, rgb(205,212,213)),
		    color-stop(1, rgb(156,166,171))
		);
		background:-moz-linear-gradient(
		    center top,
		    rgb(255,255,255) 0%,
		    rgb(215,220,223) 50%,
		    rgb(205,212,213) 51%,
		    rgb(156,166,171) 100%
		);
		width:100%;
		height:24px;
		padding-left:4px;
		z-index:2;
	}
	#iPod > div:first-child > .info > div{
		display:inline-block;
		position:absolute;
		right:10px;
		top:5px;
		height:12px;
		width:24px;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		border:1px solid #6f726f;
		background:-webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgb(106,201,115)),
		    color-stop(0.01, rgb(144,214,125)),
		    color-stop(0.15, rgb(190,229,176)),
		    color-stop(0.5, rgb(0,192,51)),
		    color-stop(0.75, rgb(0,170,45)),
		    color-stop(1, rgb(0,183,37))
		);
		background:-moz-linear-gradient(
		    center top,
		    rgb(106,201,115) 0%,
		    rgb(144,214,125) 1%,
		    rgb(190,229,176) 15%,
		    rgb(0,192,51) 50%,
		    rgb(0,170,45) 75%,
		    rgb(0,183,37) 100%
		);
	}
	#iPod > div:first-child > .info > div > span{
		position:absolute;
		right:-3px;
		top:4px;
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 1px;
		-webkit-border-bottom-right-radius: 1px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 1px;
		-moz-border-radius-bottomright: 1px;
		-moz-border-radius-bottomleft: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 1px;
		border-bottom-right-radius: 1px;
		border-bottom-left-radius: 0px;
		border:inherit;
		border-left:0px;
		display:inline-block;
		height:3px;
		width:2px;
		background:transparent;
	}
	#iPod > div:first-child > ul.menu > li{
		line-height:150%;
		position:relative;
		padding:0.01em 0px;
		padding-left:4px;
	}
	#iPod > div:first-child > ul.menu > li.selected{
		color:#fff;
		background:-webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(0, rgb(132,199,226)),
		    color-stop(0.01, rgb(157,221,250)),
		    color-stop(0.02, rgb(0,191,239)),
		    color-stop(0.03, rgb(0,173,231)),
		    color-stop(0.04, rgb(0,179,233)),
		    color-stop(0.05, rgb(0,166,227)),
		    color-stop(0.06, rgb(0,155,222)),
		    color-stop(0.96, rgb(0,100,182)),
		    color-stop(0.97, rgb(0,86,172)),
		    color-stop(0.98, rgb(0,80,165)),
		    color-stop(0.99, rgb(0,85,170)),
		    color-stop(1, rgb(194,227,244))
		);
		background:-moz-linear-gradient(
		    center top,
		    rgb(132,199,226) 0%,
		    rgb(157,221,250) 1%,
		    rgb(0,191,239) 2%,
		    rgb(0,173,231) 3%,
		    rgb(0,179,233) 4%,
		    rgb(0,166,227) 5%,
		    rgb(0,155,222) 6%,
		    rgb(0,100,182) 96%,
		    rgb(0,86,172) 97%,
		    rgb(0,80,165) 98%,
		    rgb(0,85,170) 99%,
		    rgb(194,227,244) 100%
		);
	}
	#iPod > div:first-child > ul.menu > li.selected:after{
		content:"\276F";
		position:absolute;
		right:0.4em;
	}
	#iPod > div:last-child{
		z-index:1;
		left:50%;
		background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(185,200,205)),
		color-stop(1, rgb(68,79,96))
		);
		background:-moz-linear-gradient(
		center top,
		rgb(185,200,205) 0%,
		rgb(68,79,96) 100%
		);
	}
	#iPod > div:last-child > span.dropshadow{
		display:block;
		position:absolute;
		height:100%;
		background:-webkit-gradient(
		    linear,
		    left top,
		    right top,
		    color-stop(0, rgba(0,0,0, 0.5)),
		    color-stop(1, rgba(128,128,128, 0))
		);
		background:-moz-linear-gradient(
		    left center,
		    rgba(0,0,0,0.5) 0%,
		    rgba(128,128,128,0) 100%
		);
		width:40px;
	}